## Markdown cell Title

With **some** text

In [1]:
print("Test")

Test

In [2]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)

df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -1.044963 -1.551494 -0.840913 -0.421576
2013-01-02  0.194209  0.149091 -0.032170 -0.002978
2013-01-03 -1.800155 -1.394222 -0.681146  0.801359
2013-01-04 -1.498614  0.428340  0.928570  1.875687
2013-01-05  1.802590  0.387061 -0.549246 -0.784740
2013-01-06  0.158292  2.176617 -1.792115 -0.167906

In [3]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')