## Markdown cell Title

With **some** text

In [1]:
print("Test")

Test

In [2]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)

df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -0.180021  0.353262  0.092732  1.307977
2013-01-02  1.685297  1.224822 -0.633752  0.469845
2013-01-03 -0.758091 -2.011591  0.007983 -0.232754
2013-01-04  1.210486  0.727872 -0.178372 -1.008124
2013-01-05 -0.345644 -0.483128  0.109403  0.362049
2013-01-06  0.697037  0.033166 -0.021461  1.473813

In [3]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
print(df)

                   A         B         C         D
2013-01-01 -0.180021  0.353262  0.092732  1.307977
2013-01-02  1.685297  1.224822 -0.633752  0.469845
2013-01-03 -0.758091 -2.011591  0.007983 -0.232754
2013-01-04  1.210486  0.727872 -0.178372 -1.008124
2013-01-05 -0.345644 -0.483128  0.109403  0.362049
2013-01-06  0.697037  0.033166 -0.021461  1.473813