# Pandas DataFrame with N/As

Solving GitHub [issue number 3](https://github.com/ideonate/nb2xls/issues/3)

In [1]:
import pandas as pd

In [2]:
pd.DataFrame([[pd.np.nan]])

    0
0 NaN

In [3]:
pd.DataFrame({'col1': [1.0, pd.np.nan, 2.5, float('nan')]})

   col1
0   1.0
1   NaN
2   2.5
3   NaN